# Project exclude paths
core/target/
core/logs/
idl/target/
common/target/
auth/target/
project/project/
project/target/
target/
.idea/
*.iml

vue-easy-flow/node_modules/
vue-easy-flow/dist/
vue-easy-flow/npm-debug.log*
vue-easy-flow/yarn-debug.log*
vue-easy-flow/yarn-error.log*
vue-easy-flow/package-lock.json
vue-easy-flow/tests/**/coverage/
vue-easy-flow/.DS_Store
# Editor directories and files
vue-easy-flow/*.suo
vue-easy-flow/*.ntvs*
vue-easy-flow/*.njsproj
vue-easy-flow/*.sln


